# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments (Virtual Environments)
.venv/
venv/
ENV/
env/

# PyCharm / JetBrains IDE files
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Secret files (if you create them later for passwords/API keys)
.env